<main class="flex flex-grow border-2 border-green-500">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <div class="flex-grow">
    <%= @inner_content %>
  </div>
</main>
