<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "Derm", suffix: " · Phoenix Framework") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <div class="flex max-h-screen min-h-screen flex-col">
      <header class="flex min-h-16 flex-row items-center bg-gray-500 text-gray-200">
        <div class="p-4 text-3xl font-bold text-sky-100">DermApp</div>
        <div class="ml-auto p-4">
          <%= render("_user_menu.html", assigns) %>
        </div>
      </header>
      <div class="align-items-stretch flex flex-grow flex-row bg-gray-100">
        <!-- @inner_content -->
        <%= @inner_content %>
        <!-- end of @inner_content-->
      </div>
      <div class="flex h-16 flex-row items-center bg-gray-700 p-2 text-slate-400">
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <div class="p-4">
            <%= link("LiveDashboard",
              to: Routes.live_dashboard_path(@conn, :home),
              class: "underline"
            ) %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
